document.querySelector(".customers").innerHTML = '<p><%= @number_of_customers %></p>';

document.querySelector(".revenue").innerHTML = '<p><%= @total_revenue %> K€</p>';

document.querySelector(".avg-revenue").innerHTML = '<p><%= @average_revenue %> €</p>';
