<div class="dashboard-title" id="hello">
  <h1>My dashboard</h1>
</div>

<form action="/" method="get" class="form-inline">
  <div class="form-group mb-2">
    <label for="name">Country: </label>
    <select name="country" id="country" required class="mx-sm-3 form-control">
        <option selected>All</option>
        <% @countries.each do |country| %>
          <option><%= country %></option>
        <% end %>
    </select>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
</form>

<div class="dashboard-subtitle">
  <h3>Summary</h3>
</div>

<div class="dashboard-container">
  <!-- Revenue -->
  <div class="card dashboard-card">
    <strong>Total revenue</strong>
    <div class="revenue">
      <p><%= @total_revenue %> K€</p>
    </div>
  </div>
  <!-- Average revenue per order -->
  <div class="card dashboard-card">
    <strong>Average revenue / order</strong>
    <div class="avg-revenue">
      <p><%= @average_revenue %> €</p>
    </div>
  </div>
  <!-- Number of customers -->
  <div class="card dashboard-card">
    <strong>Number of customers</strong>
    <div class="customers">
      <p><%= @number_of_customers %> K</p>
    </div>
  </div>
</div>

<div class="dashboard-subtitle">
  <h3>Revenue per months</h3>
</div>

<div id="test">
  Hello
</div>

<canvas id="myChart" width="600" height="400"></canvas>


